<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Login_Test">
    <classes>
      <class name="com.lemon.web.auto.day06.section02.testcase.login.LoginTester"/>
    </classes>
  </test> 
   <test name="Register_Test">
    <classes>
      <class name="com.lemon.web.auto.day06.section02.testcase.register.RegisterTester"/>
    </classes>
  </test> 
</suite> 
