<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="LoginTest">
    <classes>
      <class name="com.zs.auto.day06_1026.section2.login.LoginTest"/>
    </classes>
  </test>
  <test name="RegisterTest">
      <classes>
      <class name="com.zs.auto.day06_1026.section2.register.RegisterTest"/>
    </classes>
  </test>
</suite> 
