<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="LoginTest">
    <classes>
      <class name="com.zs.auto.day07_1029.login.LoginTest"/>
    </classes>
  </test>
  <!-- <test name="RegisterTest">
      <classes>
      <class name="com.zs.auto.day07_1029.register.RegisterTest"/>
    </classes>
  </test> -->
</suite> 
